@import "tailwindcss";

@theme {
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-dark-900: #111827;
  --color-dark-800: #1f2937;
  --color-earth-500: #d97706;
}

body {
  @apply bg-dark-900 text-slate-100 font-sans antialiased;
}
